<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.seed.mapper.AgronomicTraitMapper">

    <resultMap type="com.inspur.seed.domain.AgronomicTrait" id="AgronomicTraitResult">
        <id property="traitId" column="trait_id"/>
        <result property="batchId" column="batch_id"/>
        <result property="trialId" column="trial_id"/>
        <result property="recordTime" column="record_time"/>
        <result property="plantHeightCm" column="plant_height_cm"/>
        <result property="tillerCount" column="tiller_count"/>
        <result property="spikeLengthCm" column="spike_length_cm"/>
        <result property="daysToEmergence" column="days_to_emergence"/>
        <result property="daysToTillering" column="days_to_tillering"/>
        <result property="daysToHeading" column="days_to_heading"/>
        <result property="photoUrl" column="photo_url"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="cropType" column="crop_type"/>
        <result property="varietyName" column="variety_name"/>
        <result property="batchName" column="batch_name"/>
        <result property="status" column="status"/>
        <result property="workflowStatus" column="workflow_status"/>
        <result property="auditBy" column="audit_by"/>
        <result property="auditTime" column="audit_time"/>
    </resultMap>

    <sql id="selectAgronomicTraitVo">
        select *
        from agronomic_trait a

    </sql>

    <select id="selectAgronomicTraitList" parameterType="com.inspur.seed.domain.AgronomicTrait" resultMap="AgronomicTraitResult">
        <include refid="selectAgronomicTraitVo"/>
        <where>
            a.is_deleted = 0
            <if test="batchId != null and batchId != ''">
                AND a.batch_id = #{batchId}
            </if>
            <if test="trialId != null and trialId != ''">
                AND a.trial_id = #{trialId}
            </if>
            <if test="status != null and status != ''">
                AND a.status = #{status}
            </if>
            <if test="workflowStatus != null and workflowStatus != ''">
                AND a.workflow_status = #{workflowStatus}
            </if>
            <if test="createBy != null and createBy != ''">
                AND a.create_by like concat('%', #{createBy}, '%')
            </if>
            <if test="updateBy != null and updateBy != ''">
                AND a.update_by like concat('%', #{updateBy}, '%')
            </if>
            <if test="auditBy != null and auditBy != ''">
                AND a.audit_by like concat('%', #{auditBy}, '%')
            </if>
            <if test="cropType != null and cropType != ''">
                AND b.crop_type = #{cropType}
            </if>
            <if test="varietyName != null and varietyName != ''">
                AND b.variety_name like concat('%', #{varietyName}, '%')
            </if>
            <if test="queryStartTime != null">
                AND a.record_time &gt;= #{queryStartTime}
            </if>
            <if test="queryEndTime != null">
                AND a.record_time &lt;= #{queryEndTime}
            </if>
            <if test="createTimeBegin != null">
                AND a.create_time &gt;= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null">
                AND a.create_time &lt;= #{createTimeEnd}
            </if>
            <if test="updateTimeBegin != null">
                AND a.update_time &gt;= #{updateTimeBegin}
            </if>
            <if test="updateTimeEnd != null">
                AND a.update_time &lt;= #{updateTimeEnd}
            </if>
            <if test="auditTimeBegin != null">
                AND a.audit_time &gt;= #{auditTimeBegin}
            </if>
            <if test="auditTimeEnd != null">
                AND a.audit_time &lt;= #{auditTimeEnd}
            </if>
        </where>
        order by a.record_time desc, a.create_time desc
    </select>

    <select id="selectAgronomicTraitById" parameterType="String" resultMap="AgronomicTraitResult">
        <include refid="selectAgronomicTraitVo"/>
        where a.trait_id = #{traitId} and a.is_deleted = 0
    </select>

</mapper>
