<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.seed.mapper.EnvironmentDataMapper">

    <resultMap type="com.inspur.seed.domain.EnvironmentData" id="EnvironmentDataResult">
        <id property="envRecordId" column="env_record_id"/>
        <result property="batchId" column="batch_id"/>
        <result property="trialId" column="trial_id"/>
        <result property="plotId" column="plot_id"/>
        <result property="dataType" column="data_type"/>
        <result property="collectTime" column="collect_time"/>
        <result property="soilPh" column="soil_ph"/>
        <result property="soilTemperature" column="soil_temperature"/>
        <result property="soilMoisture" column="soil_moisture"/>
        <result property="airTemperature" column="air_temperature"/>
        <result property="airHumidity" column="air_humidity"/>
        <result property="rainfall" column="rainfall"/>
        <result property="waterPh" column="water_ph"/>
        <result property="dataSource" column="data_source"/>
        <result property="remark" column="remarks"/>
        <result property="timestamp" column="timestamp"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="batchName" column="batch_name"/>
        <result property="plotFieldName" column="plot_field_name"/>
    </resultMap>

    <sql id="selectEnvironmentDataVo">
        select e.env_record_id, e.batch_id, e.trial_id, e.plot_id, e.data_type, e.collect_time,
               e.soil_ph, e.soil_temperature, e.soil_moisture, e.air_temperature,
               e.air_humidity, e.rainfall, e.water_ph, e.data_source, e.remarks,
               e.timestamp, e.update_time, e.create_by, e.update_by, e.is_deleted,
               b.batch_name,
               p.plot_id as plot_field_name
        from environment_data e
        left join breeding_batch b on e.batch_id = b.batch_id and b.is_deleted = 0
        left join plot_info p on e.plot_id = p.plot_id and p.is_deleted = 0
    </sql>

    <select id="selectEnvironmentDataList" parameterType="com.inspur.seed.domain.EnvironmentData" resultMap="EnvironmentDataResult">
        <include refid="selectEnvironmentDataVo"/>
        <where>
            e.is_deleted = 0
            <if test="batchId != null and batchId != ''">
                AND e.batch_id = #{batchId}
            </if>
            <if test="trialId != null and trialId != ''">
                AND e.trial_id = #{trialId}
            </if>
            <if test="plotId != null and plotId != ''">
                AND e.plot_id = #{plotId}
            </if>
            <if test="dataType != null and dataType != ''">
                AND e.data_type = #{dataType}
            </if>
            <if test="queryStartTime != null and queryStartTime != ''">
                AND e.collect_time &gt;= #{queryStartTime}
            </if>
            <if test="queryEndTime != null and queryEndTime != ''">
                AND e.collect_time &lt;= #{queryEndTime}
            </if>
        </where>
        order by e.collect_time desc, e.timestamp desc
    </select>

    <select id="selectEnvironmentDataById" parameterType="String" resultMap="EnvironmentDataResult">
        <include refid="selectEnvironmentDataVo"/>
        where e.env_record_id = #{envRecordId} and e.is_deleted = 0
    </select>

</mapper>
