<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.seed.mapper.FarmingRecordMapper">

    <resultMap type="com.inspur.seed.domain.FarmingRecord" id="FarmingRecordResult">
        <id property="farmingId" column="farming_id"/>
        <result property="batchId" column="batch_id"/>
        <result property="trialId" column="trial_id"/>
        <result property="operationType" column="operation_type"/>
        <result property="operationTime" column="operation_time"/>
        <result property="fertilizerType" column="fertilizer_type"/>
        <result property="fertilizerAmount" column="fertilizer_amount"/>
        <result property="irrigationMethod" column="irrigation_method"/>
        <result property="pesticideType" column="pesticide_type"/>
        <result property="pesticideDosage" column="pesticide_dosage"/>
        <result property="operationDesc" column="operation_desc"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="batchName" column="batch_name"/>
    </resultMap>

    <sql id="selectFarmingRecordVo">
        select f.farming_id, f.batch_id, f.trial_id, f.operation_type, f.operation_time,
               f.fertilizer_type, f.fertilizer_amount, f.irrigation_method,
               f.pesticide_type, f.pesticide_dosage, f.operation_desc,
               f.create_time, f.update_time, f.create_by, f.update_by, f.is_deleted,
               b.batch_name
        from farming_record f
        left join breeding_batch b on f.batch_id = b.batch_id and b.is_deleted = 0
    </sql>

    <select id="selectFarmingRecordList" parameterType="com.inspur.seed.domain.FarmingRecord" resultMap="FarmingRecordResult">
        <include refid="selectFarmingRecordVo"/>
        <where>
            f.is_deleted = 0
            <if test="batchId != null and batchId != ''">
                AND f.batch_id = #{batchId}
            </if>
            <if test="trialId != null and trialId != ''">
                AND f.trial_id = #{trialId}
            </if>
            <if test="operationType != null and operationType != ''">
                AND f.operation_type = #{operationType}
            </if>
            <if test="startTime != null and startTime != ''">
                AND f.operation_time &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND f.operation_time &lt;= #{endTime}
            </if>
        </where>
        order by f.operation_time desc, f.create_time desc
    </select>

    <select id="selectFarmingRecordById" parameterType="String" resultMap="FarmingRecordResult">
        <include refid="selectFarmingRecordVo"/>
        where f.farming_id = #{farmingId} and f.is_deleted = 0
    </select>

</mapper>
