<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.seed.mapper.FarmingRecordMapper">

    <resultMap type="com.inspur.seed.domain.FarmingRecord" id="FarmingRecordResult">
        <id property="farmingId" column="farming_id"/>
        <result property="batchId" column="batch_id"/>
        <result property="trialId" column="trial_id"/>
        <result property="operationType" column="operation_type"/>
        <result property="operationTime" column="operation_time"/>
        <result property="fertilizerType" column="fertilizer_type"/>
        <result property="fertilizerAmount" column="fertilizer_amount"/>
        <result property="irrigationMethod" column="irrigation_method"/>
        <result property="pesticideType" column="pesticide_type"/>
        <result property="pesticideDosage" column="pesticide_dosage"/>
        <result property="operationDesc" column="operation_desc"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <sql id="selectFarmingRecordVo">
        select farming_id, batch_id, trial_id, operation_type, operation_time,
               fertilizer_type, fertilizer_amount, irrigation_method,
               pesticide_type, pesticide_dosage, operation_desc,
               create_time, update_time, create_by, update_by, is_deleted
        from farming_record
    </sql>

    <select id="selectFarmingRecordList" parameterType="com.inspur.seed.domain.FarmingRecord" resultMap="FarmingRecordResult">
        <include refid="selectFarmingRecordVo"/>
        <where>
            is_deleted = 0
            <if test="batchId != null and batchId != ''">
                AND batch_id = #{batchId}
            </if>
            <if test="trialId != null and trialId != ''">
                AND trial_id = #{trialId}
            </if>
            <if test="operationType != null and operationType != ''">
                AND operation_type = #{operationType}
            </if>
            <if test="startTime != null and startTime != ''">
                AND operation_time &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND operation_time &lt;= #{endTime}
            </if>
        </where>
        order by operation_time desc, create_time desc
    </select>

    <select id="selectFarmingRecordById" parameterType="String" resultMap="FarmingRecordResult">
        <include refid="selectFarmingRecordVo"/>
        where farming_id = #{farmingId} and is_deleted = 0
    </select>

</mapper>
