<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.seed.mapper.basic.BasicSeedProduceResultMapper">

    <resultMap type="com.inspur.seed.vo.basic.BasicSeedProduceResultVO" id="BasicSeedProduceResultResult">
        <result property="resultId" column="result_id"/>
        <result property="produceBatchId" column="produce_batch_id"/>
        <result property="produceBatchName" column="produce_batch_name"/>
        <result property="varietyName" column="variety_name"/>
        <result property="collectionDate" column="collection_date"/>
        <result property="outputQuantity" column="output_quantity"/>
        <result property="breedBatchName" column="breed_batch_name"/>
        <result property="trialName" column="trial_name"/>
        <result property="fromSeedLevel" column="from_seed_level"/>
        <result property="toSeedLevel" column="to_seed_level"/>
        <result property="breedBatchId" column="breed_batch_id"/>
        <result property="varietyId" column="variety_id"/>
        <result property="cropType" column="crop_type"/>
        <result property="remainingQuantity" column="remaining_quantity"/>
        <result property="operator" column="operator"/>
        <result property="parentalSeedSource" column="parental_seed_source"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectResultVo">
        select r.result_id, r.produce_batch_id, r.produce_batch_name, r.variety_name, r.variety_id, r.crop_type,
               r.collection_date, r.output_quantity, r.remaining_quantity, r.breed_batch_name, r.breed_batch_id, r.trial_name,
               r.from_seed_level, r.to_seed_level, r.operator,
               r.create_time, r.update_time,
               b.parental_seed_source
        from basic_seed_produce_result r
        left join breeding_batch b on r.breed_batch_id = b.batch_id
    </sql>

    <select id="selectResultList" parameterType="com.inspur.seed.dto.basic.BasicSeedProduceResultQueryDTO" 
            resultMap="BasicSeedProduceResultResult">
        <include refid="selectResultVo"/>
        <where>
            <if test="produceBatchId != null and produceBatchId != ''">
                AND produce_batch_id = #{produceBatchId}
            </if>
            <if test="varietyName != null and varietyName != ''">
                AND variety_name like concat('%', #{varietyName}, '%')
            </if>
            <if test="produceBatchName != null and produceBatchName != ''">
                AND produce_batch_name like concat('%', #{produceBatchName}, '%')
            </if>
            <if test="startDate != null and startDate != ''">
                AND collection_date &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND collection_date &lt;= #{endDate}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectResultById" parameterType="String" resultMap="BasicSeedProduceResultResult">
        <include refid="selectResultVo"/>
        where result_id = #{resultId}
    </select>

    <select id="countByProduceBatchId" parameterType="String" resultType="Long">
        select count(*) from basic_seed_produce_result
        where produce_batch_id = #{produceBatchId}
    </select>



</mapper>
