<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.seed.mapper.breed.BreedSeedProduceMapper">

    <select id="selectRemainingQuantity" resultType="java.math.BigDecimal">
        SELECT
            p.produce_seed_quantrity - IFNULL(SUM(d.distribute_quantity), 0) AS remaining_quantity
        FROM breed_seed_produce p
                 LEFT JOIN distribute_detail d ON p.produce_batch_id = d.produce_batch_id
        WHERE p.breed_seed_produce_batch_id = #{breedSeedProduceBatchId}
        GROUP BY p.breed_seed_produce_batch_id, p.produce_seed_quantrity
    </select>
</mapper>
