<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.workorder.mapper.TodoItemMapper">
    <select id="countGroupByType" resultType="com.inspur.workorder.domain.vo.ProcessStatisticsVo">
        select count(1) as value ,COALESCE(type,'其它') as type,COALESCE(type,'其它') as name
        from todo_item
        where 1=1
        <if test="userId != null and userId != ''">
            and user_id = #{userId}
        </if>
        <if test="startTime != null">
            and create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and create_time &lt;= #{endTime}
        </if>
        <if test="modular != null and modular != ''">
            and modular = #{modular}
        </if>
        <if test="state != null and state != ''">
            and state = #{state}
        </if>
        GROUP by type
    </select>
    <select id="countGroupByStateType" resultType="com.inspur.workorder.domain.vo.ProcessStatisticsVo">
        select count(1) as value,COALESCE(type,'其它') as type,state as name
        from todo_item
        where 1=1
        <if test="userId != null and userId != ''">
            and user_id = #{userId}
        </if>
        <if test="startTime != null">
            and create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and create_time &lt;= #{endTime}
        </if>
        <if test="modular != null and modular != ''">
            and modular = #{modular}
        </if>
        GROUP by type,state
    </select>
    <select id="selectTypeList" resultType="java.lang.String">
        select distinct modular from todo_item
    </select>
    <select id="countGroupByDept" resultType="com.inspur.workorder.domain.vo.ProcessStatisticsVo">
        select count(1) as value,COALESCE(d.dept_name,'其它') as name,i.dept_id
        from todo_item i
        LEFT JOIN sys_dept d on d.dept_id = i.dept_id
        where 1=1
        <if test="deptId != null and deptId != ''">
            and i.dept_id = #{deptId}
        </if>
        <if test="startTime != null">
            and i.create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and i.create_time &lt;= #{endTime}
        </if>
        <if test="state != null and state != ''">
            and i.state = #{state}
        </if>
        <if test="type != null and type != ''">
            and i.type = #{type}
        </if>
        group by i.dept_id,d.dept_name
    </select>
    <select id="countGroupByDeptType" resultType="com.inspur.workorder.domain.vo.ProcessStatisticsVo">
        select count(1) as value,COALESCE(d.dept_name,'其它') as name,COALESCE(i.type,'其它') as type,i.dept_id as code
        from todo_item i LEFT JOIN sys_dept d
        on d.dept_id = i.dept_id
        where 1=1
        <if test="deptId != null and deptId != ''">
            and i.dept_id = #{deptId}
        </if>
        <if test="startTime != null">
            and i.create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and i.create_time &lt;= #{endTime}
        </if>
        <if test="state != null and state != ''">
            and i.state = #{state}
        </if>
        group by i.dept_id, i.type,d.dept_name
    </select>
    <select id="countGroupByState" resultType="com.inspur.workorder.domain.vo.ProcessStatisticsVo">
        select count(1) as value,state as code
        from todo_item
        where 1=1
        <if test="userId != null and userId != ''">
            and user_id = #{userId}
        </if>
        <if test="startTime != null">
            and create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and create_time &lt;= #{endTime}
        </if>
        <if test="type != null and type != ''">
            and type = #{type}
        </if>
        GROUP by state
    </select>
    <select id="countGroupByYearMonth" resultType="com.inspur.workorder.domain.vo.ProcessStatisticsVo">
        select count(1) as value ,year,month
        from todo_item
        where 1=1
        <if test="userId != null and userId != ''">
            and user_id = #{userId}
        </if>
        <if test="deptId != null and deptId != ''">
            and dept_id = #{deptId}
        </if>
        <if test="startTime != null">
            and create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and create_time &lt;= #{endTime}
        </if>
        <if test="type != null and type != ''">
            and type = #{type}
        </if>
        <if test="state != null and state != ''">
            and state = #{state}
        </if>
        GROUP BY year,month
    </select>
    <select id="countGroupByYearMonthType" resultType="com.inspur.workorder.domain.vo.ProcessStatisticsVo">
        select count(1) as value ,year,month,COALESCE(modular,'其它') as type
        from todo_item
        where 1=1
        <if test="userId != null and userId != ''">
            and user_id = #{userId}
        </if>
        <if test="deptId != null and deptId != ''">
            and dept_id = #{deptId}
        </if>
        <if test="startTime != null">
            and create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and create_time &lt;= #{endTime}
        </if>
        <if test="state != null and state != ''">
            and state = #{state}
        </if>
        GROUP BY year,month,modular
    </select>
    <select id="countGroupByDeptUserType" resultType="com.inspur.workorder.domain.vo.ProcessStatisticsVo">
        select count(1) as value,COALESCE(d.dept_name,'其它') as dept_name ,i.user_id as code, COALESCE(i.type,'其它') as type,u.nick_name as name
        from todo_item i
        left join sys_user u on i.user_id = u.user_id
        LEFT JOIN sys_dept d on d.dept_id = i.dept_id
        where 1=1
        <if test="deptId != null and deptId != ''">
            and i.dept_id = #{deptId}
        </if>
        <if test="userId != null and userId != ''">
            and i.user_id = #{userId}
        </if>
        <if test="startTime != null">
            and i.create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and i.create_time &lt;= #{endTime}
        </if>
        <if test="type != null and type != ''">
            and i.type = #{type}
        </if>
        <if test="state != null and state != ''">
            and i.state = #{state}
        </if>
        group by i.dept_id, d.dept_name,i.user_id,i.type,u.nick_name
    </select>


    <select id = "selectVoList" resultType="com.inspur.workorder.domain.vo.TodoItemVo">
        SELECT
        item.business_code,
        item.title,
        item.type ,
        item.state ,
        item.user_id,
        u.nick_name ,
        d.dept_name ,
        item.submit_time,
        item.modular,
        item.callback_link
        FROM
        todo_item item
        LEFT JOIN sys_user u ON item.user_id = u.user_id
        LEFT JOIN sys_dept d ON item.dept_id = d.dept_id
        WHERE
        1 =1
        <if test="businessCode !=null and businessCode !=''">
            and item.business_code like concat('%',#{businessCode},'%')
        </if>
        <if test="title !=null and title !=''">
            and item.title like concat('%',#{title},'%')
        </if>
        <if test="state !=null and state !=''">
            and item.state = #{state}
        </if>

        <if test="userId !=null and userId !=''">
            and item.user_id = #{userId}
        </if>
        <if test="params.beginTime != null and params.beginTime != ''">
            and item.submit_time >= #{params.beginTime}
        </if>
        <if test="params.endTime != null and params.endTime != ''">
            and item.submit_time &lt;= #{params.endTime}
        </if>
        <if test="deptId !=null and deptId !=''">
            and item.dept_id = #{deptId}
        </if>
        <if test="modular !=null and modular !=''">
            and item.modular = #{modular}
        </if>
    </select>

    <select id = "selectDlList" parameterType="com.inspur.workorder.domain.TodoItem">
        SELECT
        ${sql}
        <if test="paramsJson != null and paramsJson !=''">
            u.nick_name as 名称,
            COUNT(user_name) as 总数
        </if>
        <if test="paramsJson == null ">
            u.nick_name as name,
            COUNT(user_name) as count
        </if>
        from todo_item item LEFT JOIN sys_user u ON item.user_id = u.user_id
        WHERE
        1=1
        <if test="userId !=null and userId !=''">
            and item.user_id in (#{userId})
        </if>
        <if test="deptId !=null and deptId !=''">
            and item.dept_id in (#{deptId})
        </if>
        <if test="type !=null and type !=''">
            and item.modular in (#{type})
        </if>
        <if test="params.beginTime != null and params.beginTime != ''">
            and item.submit_time >= #{startTime}
        </if>
        <if test="params.endTime !=null and params.endTime != ''">
            and item.submit_time &lt;= #{endTime}
        </if>

        GROUP BY u.user_name,u.nick_name

    </select>

    <select id = "selectDeptList" parameterType="com.inspur.workorder.domain.TodoItem" >
        SELECT
        ${sql}
        <if test="paramsJson != null and paramsJson !=''">
            d.dept_name as 名称,
            count(dept_name) as 总数
        </if>
        <if test="paramsJson == null ">
            d.dept_name AS name,
            count(dept_name) AS count
        </if>
        FROM
        todo_item item
        LEFT JOIN sys_dept d ON item.dept_id = d.dept_id
        WHERE
        1=1
        <if test="deptId !=null and deptId !=''">
            and item.dept_id in (#{deptId})
        </if>
        <if test="type !=null and type !=''">
            and item.type in (#{type})
        </if>
        <if test="params.beginTime != null and params.beginTime != ''">
            and item.submit_time >= #{startTime}
        </if>
        <if test="params.endTime !=null and params.endTime != ''">
            and item.submit_time &lt;= #{endTime}
        </if>
        GROUP BY d.dept_name

    </select>

    <select id = "selectTimeList" parameterType="TodoItem" >
        SELECT
        item.submit_time AS submit_time,
        ${sql}
        count(submit_time) AS count
        FROM
        todo_item item
        LEFT JOIN sys_user u ON item.user_id = u.user_id
        WHERE
        1=1
        <if test="userId !=null and userId !=''">
            and item.user_id in (#{userId})
        </if>
        <if test="deptId !=null and deptId !=''">
            and item.dept_id in (#{deptId})
        </if>
        <if test="type !=null and type !=''">
            and item.type in (#{type})
        </if>
        <if test="params.beginTime != null and params.beginTime != ''">
            and item.submit_time >= #{startTime}
        </if>
        <if test="params.endTime !=null and params.endTime != ''">
            and item.submit_time &lt;= #{endTime}
        </if>

        GROUP BY submit_time
    </select>

    <select id="getState" resultType="com.inspur.workorder.domain.vo.TodoItemVo">
        select state from todo_item
        GROUP BY state
    </select>

</mapper>
