<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.workorder.mapper.TodoItemDetailMapper">

    <select id="selectVoList" resultType="com.inspur.workorder.domain.vo.TodoItemDetailVo">
        select d.detail_id ,
               d.status           as detail_state,
               d.todo_id          ,
               i.business_code,
               i.business_id,
               i.title,
               i.business_content as content,
               i.callback_link,
               i.create_time      as submit_time
        from todo_item_detail d
                 LEFT JOIN todo_item i on i.todo_id = d.todo_id
        where 1=1
        <if test="userId != null and userId != ''">
            and d.user_id = #{userId}
        </if>
        <if test="status != null and status != ''">
            and d.status = #{status}
        </if>
    </select>
    <select id="countByUser" resultType="com.inspur.workorder.domain.vo.ProcessStatisticsVo">
        select count(distinct d.business_id) as value,d.user_id,u.nick_name as name,COALESCE(sd.dept_name,'其它') as
        dept_name
        from todo_item_detail d
        left join sys_user u on u.user_id = d.user_id
        left join sys_dept sd on sd.dept_id = d.dept_id
        left join todo_item i on d.todo_id = i.todo_id
        where 1=1
        <if test="userId != null and userId != ''">
            and d.user_id = #{userId}
        </if>
        <if test="deptId != null and deptId != ''">
            and d.dept_id = #{deptId}
            and u.dept_id = #{deptId}
        </if>
        <if test="status != null and status != ''">
            and d.status = #{status}
        </if>
        <if test="itemState != null and itemState != ''">
            and i.state = #{itemState}
        </if>
        <if test="startTime != null">
            and d.create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and d.create_time &lt;= #{endTime}
        </if>
        <if test="type != null and type != ''">
            and d.type = #{type}
        </if>
        group by d.user_id,u.nick_name,sd.dept_name
        ORDER BY VALUE DESC
    </select>
    <select id="countPersonalByType" resultType="com.inspur.workorder.domain.vo.ProcessStatisticsVo">
        select count(DISTINCT d.business_id) as value,COALESCE(d.type,'其它') as name
        from todo_item_detail d
        where 1=1
        <if test="userId != null and userId != ''">
            and d.user_id = #{userId}
        </if>
        <if test="status != null and status != ''">
            and d.status = #{status}
        </if>
        <if test="startTime != null">
            and d.create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and d.create_time &lt;= #{endTime}
        </if>
        GROUP BY d.type
    </select>
    <select id="countPersonalByStatus" resultType="com.inspur.workorder.domain.vo.ProcessStatisticsVo">
        select count(DISTINCT business_id) as value,status as code
        from todo_item_detail
        where 1=1
        <if test="userId != null and userId != ''">
            and user_id = #{userId}
        </if>
        <if test="startTime != null">
            and create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and create_time &lt;= #{endTime}
        </if>
        <if test="type != null and type != ''">
            and type = #{type}
        </if>
        GROUP BY status
    </select>
    <select id="countGroupByDeptType" resultType="com.inspur.workorder.domain.vo.ProcessStatisticsVo">
        select count(DISTINCT d.business_id) as value ,COALESCE(d.type,'其它') as type,COALESCE(d.dept_id,'其它') as code ,COALESCE(t.dept_name,'其它') as name
        from todo_item_detail d
        where 1=1
        <if test="status != null and status != ''">
            and d.status = #{status}
        </if>
        <if test="startTime != null">
            and create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and create_time &lt;= #{endTime}
        </if>
        <if test="itemState != null and itemState != ''">
            and i.state = #{itemState}
        </if>
        left join sys_dept t on t.dept_id = d.dept_id
        group by d.dept_id,d.type,t.dept_name;
    </select>
    <select id="countByUserType" resultType="com.inspur.workorder.domain.vo.ProcessStatisticsVo">
        select count(distinct d.business_id) as value,d.user_id as code,u.nick_name as name,COALESCE(sd.dept_name,'其它')
        as dept_name,COALESCE(i.type,'其它') as type
        from todo_item_detail d
        left join sys_user u on u.user_id = d.user_id
        left join sys_dept sd on sd.dept_id = d.dept_id
        left join todo_item i on d.todo_id = i.todo_id
        where 1=1
        <if test="userId != null and userId != ''">
            and d.user_id = #{userId}
        </if>
        <if test="status != null and status != ''">
            and d.status = #{status}
        </if>
        <if test="itemState != null and itemState != ''">
            and i.state = #{itemState}
        </if>
        <if test="startTime != null">
            and d.create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and d.create_time &lt;= #{endTime}
        </if>
        <if test="type != null and type != ''">
            and d.type = #{type}
        </if>
        group by d.user_id,i.type,u.nick_name,sd.dept_name
    </select>
    <select id="countSuccessItemByUserId" resultType="java.lang.Long">
        select count(DISTINCT item.business_id)
        from todo_item item
                 left join todo_item_detail detail on detail.business_id = item.business_id
        where item.state = #{itemState}
          and (detail.user_id = #{userId} or item.user_id = #{userId})
    </select>
</mapper>
